@{
    ViewData["Title"] = "Tim The Treeman, Taylor";
}
<div class="jumbotron shadow" style="background-color:#80ffd4;border-radius:30px;">
    <img src="~/Images/abouttree.jpg" alt="up through canope" class="rounded-circle float-lg-right" />
    <h2>Taylor Tree Health Care</h2>
    <h3>Tim the treeman Taylor</h3>
</div>

<address class="row">
    <i class='fas fa-seedling' style='font-size:48px;color:#008055'></i>
    <div class="col-sm-6">
    5974 Keffer Rd.<br />
    Kingsley, MI 49649<br />
    <abbr title="Phone">P:</abbr>
    231.392.2268
    </div>
</address>

<address>
    <strong>Sales/Marketing:</strong> <a href="mailto:fire5050@yahoo.com">Marketing@TTT.com</a>
</address>
