@{
    ViewData["Title"] = "Tim The Treeman, Taylor";
}

<div class="jumbotron" style="background-color:#ccffeb; border-radius:30px;">
    <img src="~/Images/indextree.jpg" alt="tree in field" style="float:right;width:25%;" class="rounded-circle float-lg-right" />
    <h1>Tim The Treeman, Taylor</h1>
  
    <p class="lead">
        Certified, Licensed and Insured Arborist
    </p>
</div>

